:root {
    --bg-pale-blue: hsl(221, 100%, 96%);

    --clr-primary-hsl-400: 252, 100%, 67%;
    --clr-primary-hsl-500: 256, 72%, 46%;
    --clr-secondary-hsl-400: 241, 81%, 54%;
    --clr-secondary-hsl-500: 241, 72%, 46%;

    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-700: 224, 30%, 27%;

    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-700: hsl(var(--clr-neutral-hsl-700)); 

    --clr-primary-400: hsl(var(--clr-primary-hsl-400));
    --clr-primary-500: hsl(var(--clr-primary-hsl-500));
    --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));

    --clr-accent-1: 0, 100%, 67%;
    --clr-accent-2: 39, 100%, 56%;
    --clr-accent-3: 166, 100%, 37%;
    --clr-accent-4: 234, 85%, 45%;

    --gradient-primary: linear-gradient(
      var(--clr-primary-400), 
      var(--clr-secondary-400));

    --gradient-to-transparent: linear-gradient(
        var(--clr-primary-500),
        hsl(var(--clr-secondary-hsl-500), 0));
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    /* background-color: #ecf2ff; */
    background-color: var(--bg-pale-blue);
}

.container {
    margin: 10rem auto;
    
    max-width: 650px;
    /* height: 500px; */
    max-height: 100vh;
    /* padding: 3rem; */
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 30px;
    box-shadow: .5rem 1.5rem 2rem hsl(var(--clr-neutral-hsl-700), .1);
}



.results-panel {
    color: hsla(var(--clr-neutral-hsl-100), .7);
    background: var(--gradient-primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1.5rem 2rem;
    border-radius: 30px;
}

.results-panel-title {
    margin-bottom: 1rem;
}

.results-panel-percent {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: var(--gradient-to-transparent);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results-panel-percent h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.results-panel-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.results-panel-description h2 {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.results-panel-description p {
    width: 230px;
    text-align: center;
}

.summary-panel {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
    padding: 1.5rem 2rem;
}

.summary-panel h2 {
    color: var(--clr-neutral-700);
}

.summary-panel-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary-panel-item {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid black; */
    border-radius: 10px;
}

.summary-info , .summary-score {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.summary-info {
    gap: 10px;
}

.summary-panel-item:nth-child(1) {
    background-color: hsl(var(--clr-accent-1), .1);
}

.summary-panel-item:nth-child(2) {
    background-color: hsl(var(--clr-accent-2), .1);
}

.summary-panel-item:nth-child(3) {
    background-color: hsl(var(--clr-accent-3), .1);
}

.summary-panel-item:nth-child(4) {
    background-color: hsl(var(--clr-accent-4), .1);
    margin-bottom: 10px;
}

.summary-panel-item:nth-child(1) h4 {
    color: hsl(var(--clr-accent-1));
}

.summary-panel-item:nth-child(2) h4 {
    color: hsl(var(--clr-accent-2));
}

.summary-panel-item:nth-child(3) h4 {
    color: hsl(var(--clr-accent-3));
}

.summary-panel-item:nth-child(4) h4 {
    color: hsl(var(--clr-accent-4));
}

.summary-score span {
    padding-right: .5rem;
    font-weight: 700;
}

.btn-continue {
    height: 50px;
    border-radius: 50px;
    color: var(--clr-neutral-100);
    background: var(--clr-neutral-700);
    cursor: pointer;
    /* border: none; */
}

.btn-continue:hover {
    background: var(--gradient-primary);
}

@media (max-width: 600px) {
    .container {
        margin: 0 auto;
        max-width: 50rem;
        max-height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        border-radius: 2rem;
    }

    .results-panel {
        border-radius: 0px 0px 30px 30px;
    }
}



